body{
    background-color: aliceblue;
    text-align: center;
}

.wrapper{
    width: 700px;
    margin: 100px auto;
    background-color: burlywood;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    .result{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div{
        padding: 10px;
        text-align: left;
        font-weight: bold;
        font-style: italic;
    }
    }
}














